
body {
  margin: 50px;
  background-image: url("background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 26px;
  font-family: Andale Mono, monospace	;


}

h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 5px;
  color: black;
  background-color: #916553;
  border-radius: 12px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-shadow: 3px 3px black;
 /* background-color: #916553;*/




}

h2 {
  margin: 170px;
  font-size: 40px;
  color: black;
  background-color: #916553;
  border-radius: 12px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-shadow: 3px 3px black;
 /* background-color: #916553;*/


}



button {
  margin:20px;
  background-color: #916553;
  border-radius: 12px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  text-shadow: 3px 3px black;
}
